<div class="foot">
    <div class="bor"></div>
    <div class="container-fluid">
        {*
            <div class="row-fluid">

                <div class="span4">
                    <div class="fwidget">

                        <div class="col-l">
                            <h6>Diverse</h6>
                            <ul>
                                <li><a href="#">Condimentum</a></li>
                                <li><a href="#">Etiam at</a></li>
                                <li><a href="#">Fusce vel</a></li>
                                <li><a href="#">Vivamus</a></li>
                                <li><a href="#">Pellentesque</a></li>
                            </ul>
                        </div>

                        <div class="col-r">
                            <h6>Support</h6>
                            <ul>
                                <li><a href="#">Condimentum</a></li>
                                <li><a href="#">Etiam at</a></li>
                                <li><a href="#">Fusce vel</a></li>
                                <li><a href="#">Vivamus</a></li>
                                <li><a href="#">Pellentesque</a></li>
                            </ul>
                        </div>

                        <div class="clearfix"></div>

                    </div>
                </div>

                <div class="span4">
                    <div class="fwidget">
                        <h6>Categories</h6>
                        <ul>
                            <li><a href="#">Condimentum - Condimentum gravida</a></li>
                            <li><a href="#">Etiam at - Condimentum gravida</a></li>
                            <li><a href="#">Fusce vel - Condimentum gravida</a></li>
                            <li><a href="#">Vivamus - Condimentum gravida</a></li>
                            <li><a href="#">Pellentesque - Condimentum gravida</a></li>
                        </ul>
                    </div>
                </div>

                <div class="span4">
                    <div class="fwidget">
                        <h6>Recent Posts</h6>
                        <ul>
                            <li><a href="#">Sed eu leo orci, condimentum gravida metus</a></li>
                            <li><a href="#">Etiam at nulla ipsum, in rhoncus purus</a></li>
                            <li><a href="#">Fusce vel magna faucibus felis dapibus facilisis</a></li>
                            <li><a href="#">Vivamus scelerisque dui in massa</a></li>
                            <li><a href="#">Pellentesque eget adipiscing dui semper</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        *}
        <div class="row-fluid">
            <div class="span12" style="position: relative">
                <hr class="visible-desktop">
                <div class="copy">Copyright 2013 &copy; - <a href="/">StudioAndy</a> - &reg; <a href="http://www.temuraru.ro">Temuraru</a></div>
                <span style="position:absolute; right: 5px; top: 15px;">
                    <!-- Start of StatCounter Code for Default Guide -->
                    <script type="text/javascript">
                        var sc_project=9013882;
                        var sc_invisible=0;
                        var sc_security="fe7911fc";
                        var scJsHost = (("https:" == document.location.protocol) ? "https://secure." : "http://www.");
                        document.write("<sc"+"ript type='text/javascript' src='" + scJsHost + "statcounter.com/counter/counter.js'></"+"script>");
                    </script>
                    <noscript><div class="statcounter"><a title="site stats" href="http://statcounter.com/" target="_blank"><img class="statcounter" src="http://c.statcounter.com/9013882/0/fe7911fc/0/" alt="site stats"></a></div></noscript>
                    <!-- End of StatCounter Code for Default Guide -->
                </span>
            </div>
        </div>

    </div>
</div>