<div class="slide-box">
    <div class="bor"></div>
    <div class="padd">
        <div class="slide-box-button">
            <i class="icon-chevron-left"></i>
        </div>
        <h5>Bine ati venit!</h5>
        <hr />

        <div class="social">
            <a target="_blank" href="http://www.facebook.com/pages/Studio-Andy/237101733008857"><i class="icon-facebook facebook"></i></a>
            <a target="_blank" href="http://www.youtube.com/user/ellacristian/videos"><i class="icon-play-circle play-circle"></i></a>
            <a target="_blank" href="#"><i class="icon-twitter twitter"></i></a>
            <a target="_blank" href="#"><i class="icon-google-plus google-plus"></i></a>
            <a target="_blank" href="#"><i class="icon-pinterest pinterest"></i></a>
        </div>

    </div>
</div>
