
<!-- Title starts -->
<div class="page-title">
    <h2>Contact<span>Sugestii, comentarii, oferte</span></h2>
</div>
<!-- Title ends -->

<!-- Content starts -->
<div class="box-body contactus">

    <div class="row-fluid">
        <div class="span12">
            <!-- Google maps -->
            <div class="gmap">
                {*<iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Google+India+Bangalore,+Bennigana+Halli,+Bangalore,+Karnataka&amp;aq=0&amp;oq=google+&amp;sll=9.930582,78.12303&amp;sspn=0.192085,0.308647&amp;ie=UTF8&amp;hq=Google&amp;hnear=Bennigana+Halli,+Bangalore,+Bengaluru+Urban,+Karnataka&amp;t=m&amp;ll=12.993518,77.660294&amp;spn=0.012545,0.036006&amp;z=15&amp;output=embed"></iframe>*}
                <iframe height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&source=s_q&hl=en&geocode=&abauth=51afa4e0et_q_dNkI5tZwCfkarGlhj0ah8w&q=Deva,+Hunedoara,+Romania&aq=2&oq=Deva&vps=1&jsv=457b&sll=45.881584,22.902074&sspn=0.006677,0.027874&vpsrc=6&gl=IN&num=10&z=15&output=embed"></iframe>
            </div>

        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <div class="well">
                <!-- Contact form -->
                <h5>Formular Contact</h5>
                <hr />
                <div class="form">
                    <!-- Contact form (not working)-->
                    <form class="form-horizontal" name="contact" id="contact" action="">
                        <!-- Name -->
                        <div class="control-group">
                            <label class="control-label" for="name">Nume</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="name">
                            </div>
                        </div>
                        <!-- Email -->
                        <div class="control-group">
                            <label class="control-label" for="email">Email</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="email">
                            </div>
                        </div>
                        <!-- Website -->
                        <div class="control-group">
                            <label class="control-label" for="website">Website</label>
                            <div class="controls">
                                <input type="text" class="input-large" id="website">
                            </div>
                        </div>
                        <!-- Comment -->
                        <div class="control-group">
                            <label class="control-label" for="comment">Comentariu</label>
                            <div class="controls">
                                <textarea class="input-xlarge" id="comment" rows="3"></textarea>
                            </div>
                        </div>
                        <!-- Buttons -->
                        <div class="form-actions">
                            <!-- Buttons -->
                            <button type="submit" class="btn">Trimite</button>
                            <button type="reset" class="btn">Reset</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="span6">
            <div class="well">
                <!-- Address section -->
                <h5>Adrese</h5>
                <hr />
                <div class="row-fluid">
                    <div class="span6">
                        <div class="address" itemscope itemtype="http://schema.org/LocalBusiness">
                            <address>
                                <!-- Company name -->
                                <h6>StudioAndy Deva</h6>
                                <!-- Address -->
                                Deva, Hunedoara
                            </address>
                            <address>
                                <!-- Name -->
                                <h6>Andrei Culda</h6>
                                <!-- Phone number -->
                                <abbr title="Phone">Tel:</abbr> <span itemprop="telephone"><a href="tel:+40721047792">0721.047.792</a></span><br>
                                <!-- Email -->
                                <abbr title="Email">Email:</abbr> <a href="mailto:studio_andy@yahoo.com">studio_andy@yahoo.com</a>
                            </address>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="address" itemscope itemtype="http://schema.org/LocalBusiness">
                            <address>
                                <!-- Company name -->
                                <h6>StudioAndy Cluj</h6>
                                <!-- Address -->
                                Cluj, Cluj-Napoca
                            </address>
                            <address>
                                <!-- Name -->
                                <h6>Mihaela Munteanu</h6>
                                <!-- Phone number -->
                                <abbr title="Phone">Tel:</abbr> <span itemprop="telephone"><a href="tel:+40740014948">0740.014.948</a></span><br>
                                <!-- Email -->
                                <abbr title="Email">Email:</abbr> <a href="mailto:studio_andy@yahoo.com">studio_andy@yahoo.com</a>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Content ends -->