
<!-- Title starts -->
<div class="page-title">
    <h2>StudioAndy<span>Servcii media profesionale</span></h2>
</div>
<!-- Title ends -->
<!-- Content starts -->
<div class="box-body">

    {include file='widgets/flexslider.html'}

    {*
        <h4>Title Goes Here</h4>
        <hr />
        <div class="row-fluid">
            <div class="span12">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum condimentum magna, vel cursus turpis fermentum vel. Praesent enim nunc, blandit id hendrerit nec, vestibulum non leo. Aliquam dui libero, pharetra nec venenatis in, scelerisque quis odio. In hac habitasse platea dictumst. Etiam porta placerat turpis, eget fermentum neque egestas at. Vestibulum ullamcorper, augue a sollicitudin vestibulum, orci purus semper felis, lobortis consequat nisi nunc eu enim. Nam dictum cursus purus mattis rhoncus. Curabitur blandit tincidunt quam, at elementum nibh egestas non. Etiam porta mauris eget ligula aliquet in adipiscing urna elementum. Sed lectus sapien, adipiscing eget condimentum nec, pellentesque eget leo. Aenean eu nunc sed elit scelerisque egestas a non lectus. Sed tincidunt aliquet sem non dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
            </div>
        </div>
    *}
</div>
<!-- Content ends -->