
<!-- Title starts -->
<div class="page-title">
    <h2>Servicii Audio<span>Disk Jockey</span></h2>
</div>
<!-- Title ends -->

<!-- Content starts -->

<div class="box-body aboutus">
    <div class="row-fluid">

        <div class="span12">
            <div class="clearfix"></div>
            <p class="adesc centered">Oferim servicii audio (DJ) profesionale la cele mai avantajoase preturi!</p>
        </div>
    </div>

    <div class="clearfix"></div><br />
    <div class="row-fluid">
        <div class="span6 centered">
            <img src="/public/img/audio/dj1.jpg" style="height:240px" />
        </div>
        <div class="span6 centered">
            <img src="/public/img/audio/dj2.jpg" style="height:240px" />
        </div>
    </div>
</div>

<!-- Content ends -->
